# SPDX-License-Identifier: LGPL-2.1-or-later
# Copyright © 2019 ANSSI. All rights reserved.

[Unit]
Description=Setup 'ipsec0' XFRM interface bound to %i
Wants=network.target sys-subsystem-net-devices-%i.device
After=network.target sys-subsystem-net-devices-%i.device
Before=strongswan.service

[Service]
Type=oneshot
RemainAfterExit=yes

ExecStart=/usr/sbin/ip link add ipsec0 type xfrm dev %i if_id "0x01"
ExecStart=/usr/sbin/ip addr add 172.27.100.10/24 dev ipsec0
ExecStart=/usr/sbin/ip link set ipsec0 up

ExecStop=/usr/sbin/ip link set ipsec0 down
ExecStop=/usr/sbin/ip link delete dev ipsec0

[Install]
RequiredBy=strongswan.service
