# SPDX-License-Identifier: LGPL-2.1-or-later
# Copyright © 2019 ANSSI. All rights reserved.

[Match]
Name=e*

[Network]
DHCP=ipv4

# IPv4 only
LinkLocalAddressing=no
IPv6AcceptRA=no

[DHCPv4]
UseDNS=no
